@use './breakpoints' as *;

.topline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;

  @media (min-width: $md) {
    padding: 20px;
  }
  @media (min-width: $lg) {
    padding: 24px;
  }
}
